ion-slide{
    padding: 160px 20px;
    display: block;
    h2{
        font-family: fantasy;
        font-size: 36px;
        font-weight: bold;
    }
    h1{
        font-size: 56px;
        color: rgb(194, 3, 194)
    }
}

img{
    border-radius: 25px;
}

#bio{
    width: 100px;
    border-radius: 50px;
}