
  <ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <h2>Welcome to </h2>
    <h1>Org-Grip</h1>
    <app-logo></app-logo>
  
    <p>An Ionic platform project</p>
  </ion-slide>
  <ion-slide>
    <h2>Social Project</h2>
    <img id="noshare" src="assets/images/noshare.png" alt="no sharing">
    <br>
    <p>Designed to help organization member get a grip on private internal communications. </p>
    
  </ion-slide>
  <ion-slide>
    <h2>Joel Carter</h2>
    <p>Creator</p>
  
    <img src="assets/images/BusinessPic.jpeg" alt="Joel Carter" id="bio">
    <p>If you are like me, communicating can be difficult sometimes.  Org-grip was created to help all people across your organization find their voices, in a safe & private atmosphere. </p>
  </ion-slide>
  </ion-slides>
