<ion-tabs>

  <ion-tab-bar slot="bottom" color='tertiary'>
    <ion-tab-button tab="calendar" >
      <ion-icon name="calendar" color='secondary'></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed" >
      <ion-icon name="newspaper-outline" color='secondary'></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="mail-outline" color='secondary'></ion-icon>
      <ion-label>Messaging</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="flash-outline" color='secondary'></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="media">
      <ion-icon name="caret-forward-circle-outline" color='secondary'></ion-icon>
      <ion-label>Media</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog" color='secondary'></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
